# Runtime config values are automatically replaced by matching environment variables at runtime
NUXT_PUBLIC_APP_NAME=$npm_package_name
NUXT_PUBLIC_APP_VERSION=$npm_package_version

PROVIDER_AUTH_URL=
PROVIDER_CLIENT_ID=
PROVIDER_CLIENT_SECRET=
PROVIDER_BASE_URL=
